<% provide(:title, "Home") %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <ul>
        <li><a href="">小川山</a></li>
        <li><a href="">瑞牆</a></li>
        <li><a href="">豊田</a></li>
        <li><a href="">恵那</a></li>
      </ul>
    </div>
    <div class="col-sm-10">
      <div id="map">
        <script>
          function initMap() {
            var uluru = {lat: 35.908787, lng: 138.640131};
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 16,
              center: uluru
            });
            var marker = new google.maps.Marker({
              position: uluru,
              map: map
            });
          }
        </script>
        <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkB8SBcLs-OAhv2Vi7LmnNYQNxVntZtzc&callback=initMap">
        </script>
      </div>
    </div>
  </div>
</div>
