<% provide(:title, "home") %>
    <div class="center jumbotron">
      <div id="map">
        <script
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkB8SBcLs-OAhv2Vi7LmnNYQNxVntZtzc&callback=initMap" async defer>
        </script>
        <script>
          function initMap() {
            // 地図を挿入したい要素を取得
            var canvas = document.getElementById( 'map' ) ;
            var uluru = {lat: 35.908787, lng: 138.640131};
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 16,
              center: uluru
            });
            var marker = new google.maps.Marker({
              position: uluru,
              map: map
            });
          }
          //ウィンドウをリサイズしたら再度読み込み
          google.maps.event.addDomListener(window, 'resize', function(){
            map.panTo(latlng);//地図のインスタンス([map]) 
          });
        </script>
      </div>
    </div>